name: Terraform Module CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    uses: stackgobrr/common-github-actions/.github/workflows/terraform-module-ci.yml@main
    permissions:
      contents: write
      pull-requests: write
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    with:
      terraform_version: '1.14.1'
      tflint_version: 'v0.50.0'
      enable_security_scans: true
      enable_docs: true
      test_examples: true

  release:
    needs: ci
    if: github.ref == 'refs/heads/main'
    uses: stackgobrr/common-github-actions/.github/workflows/terraform-module-release.yml@main
    permissions:
      contents: write
      pull-requests: none
    with:
      module_type: 'cognito'
      enable_breaking_change_detection: true
